.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 70rem;

    gap: 20px;
    height: 100vh;
    font-family: "Zilla Slab",serif;
    background-image: url("F:/projectpoly/polyproject/src/assets/back1.png");
    background-attachment: fixed;
    background-size:cover;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    
  }
  
  .LOGIN {
    border: none;
    background-color: rgb(7, 5, 133);
    padding: 1rem 3rem 1rem 3rem;
    font-size: 23px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Zilla Slab',serif;
    border-radius: 20px;
    color: #fff;
  }
  
  /* On mouse-over */
  .LOGIN:hover {background: rgb(1, 95, 1);}
  
  
  .button-container {
    
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Zilla Slab',serif;
  }
  
  .login-form {
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    position: right;
    right: 20 px;
  }
  
  .list-container {
    display: inline-block;
    padding: 5px;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
 
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  .title {
    text-align: center;
    font-size: 30px;
    padding-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .loginval {
    text-align: center;
    font-size: 24px;
    padding-top: 1rem;
  }